{% extends 'base.html.twig' %}

{% block title %}The Mohey Project{% endblock %}
{% block table_stylesheets %}
    <link href="{{ asset('bundles/mohey/css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('bundles/mohey/js/jquery.dataTables.min.js') }}"></script>
    <style type="text/css">
        td.details-control {            
            cursor: pointer;
        }
    </style>
    <script type="text/javascript" class="init">
        $(document).ready(function() {   
            var current_page = {{ borrowlistsearch.page }};  
            var dataTable = $('#example').dataTable( {
                     "searching": false,
                     "ordering": false,
                     "paging": false,
                     "info": false,
                     "lengthChange": false,
                     "pagingType": "full",
                     "deferRender": true,
                     "processing": false,
                     "serverSide": false,
                     "columns": [
                         {
                             "class":          "details-control",
                             "orderable":      false,
                             "data":           "href_col",
                             "defaultContent": ">",
                             "width":          5          
                         },                         
                         { "data": "username" },
                         { "data": "price_from" },
                         { "data": "price_to" },
                         { "data": "proc_from" },
                         { "data": "proc_to" },
                         { "data": "date_from" },
                         { "data": "date_to" }
                     ]});                             
               
               $('#example_paginate').on( 'click', function (event) {
                   var a_obj = $(event.target).closest('a');
                   var dt_idx = a_obj.data("dt-idx");
                   if ((current_page != dt_idx) && (!a_obj.hasClass("disabled"))) {
                       $('#borrow_list_post_page').val(dt_idx);
                       $('#borrowlist_form').submit();
                   }
               });
               
               $('#btnSearch').on( 'click', function (event) {
                   $('#borrowlist_form').submit();
               });
        } );          
    </script>
{% endblock %}
{% block body %}
          
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{{ path("homepage")}}">Back main page</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>            
        
    {{ form_start(borrowlist_form) }}
    {{ form_errors(borrowlist_form) }}
    
    <div class="intro-header">
        <br>
        <div class="container">
            <div class="row">
                <!--<form class="form-horizontal">-->
                     <div class="control-group">
                          <div class="controls form-inline">
                               <label for="inputPrice">I want to borrow</label>
                               {% if borrowlistsearch.price > 0 %}
                               {{ form_widget(borrowlist_form.price, { 'attr': {'class': 'input-small form-control', 'placeholder': 50}} ) }} 
                               {% else %}
                               {{ form_widget(borrowlist_form.price, { 'attr': {'class': 'input-small form-control', 'placeholder': 50, 'value': ""}} ) }} 
                               {% endif %}
                               <label for="inputProc">USD, at</label>
                               {% if borrowlistsearch.proc > 0 %}
                               {{ form_widget(borrowlist_form.proc, { 'attr': {'class': 'input-small form-control', 'placeholder': 10}} ) }} 
                               {% else %}
                               {{ form_widget(borrowlist_form.proc, { 'attr': {'class': 'input-small form-control', 'placeholder': 10, 'value': ""}} ) }} 
                               {% endif %}
                               <label for="inputDate">% per year, for </label>
                               {% if borrowlistsearch.date > 0 %}                               
                               {{ form_widget(borrowlist_form.date, { 'attr': {'class': 'input-small form-control', 'placeholder': 30}} ) }} 
                               {% else %}
                               {{ form_widget(borrowlist_form.date, { 'attr': {'class': 'input-small form-control', 'placeholder': 30, 'value': ""}} ) }}
                               {% endif %}
                               <label for="inputValue">days.</label> 
                               <button class="btn btn-default" type="button" id="btnSearch">Search</button>                                
                               {{ form_widget(borrowlist_form.page) }}
                          </div>
                     </div>
            </div>    
        </div>
    </div>    
    
    <hr class="intro-divider">
    
    <div id="example_wrapper" class="dataTables_wrapper">      
        <div id="example_processing" class="dataTables_processing" style="display: none;">Processing...</div>                             
        <table id="example" class="display" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th></th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="User: activate to sort column descending" style="width: 96px;">User</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Sum from: activate to sort column descending" style="width: 96px;">Sum from</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Sum to: activate to sort column descending" style="width: 96px;">Sum to</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Proc from: activate to sort column descending" style="width: 96px;">Proc from</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Proc to: activate to sort column descending" style="width: 96px;">Proc to</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Days from: activate to sort column descending" style="width: 96px;">Days from</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Days to: activate to sort column descending" style="width: 96px;">Days to</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Sum from</th>
                    <th>Sum to</th>
                    <th>Proc from</th>
                    <th>Proc to</th>
                    <th>Days from</th>
                    <th>Days to</th>
                </tr>
            </tfoot>
            <tbody>
                {% for lst_item in borrowlist %}
                    <tr>
                        <td><a class="btn btn-default" href="{{ path('borrow', { id: lst_item.offer_id }) }}">Borrow</a></td>  
                        <td>{{ lst_item.username }}</td>
                        <td>{{ lst_item.price_from }}</td>
                        <td>{{ lst_item.price_to }}</td>
                        <td>{{ lst_item.proc_from }}</td>
                        <td>{{ lst_item.proc_to }}</td>
                        <td>{{ lst_item.date_from }}</td>
                        <td>{{ lst_item.date_to }}</td>                    
                    </tr>    
                {% endfor %}                                    
            </tbody>            
        </table>
        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
            {% if borrowlistsearch.page == 1 %}            
                <a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="{{ borrowlistsearch.page }}" tabindex="0" id="example_previous">Previous</a>
            {% else %}
                <a class="paginate_button previous" aria-controls="example" data-dt-idx="{{ borrowlistsearch.page - 1 }}" tabindex="0" id="example_previous">Previous</a>
            {% endif %}    
            <span>
                {% for i in borrowlistsearch.minpage..borrowlistsearch.maxpage %}
                    {% if i == borrowlistsearch.page %}
                     <a class="paginate_button current" aria-controls="example" data-dt-idx="{{i}}" tabindex="0" href="javascript:;">{{i}}</a>
                    {% else %}
                     <a class="paginate_button" aria-controls="example" data-dt-idx="{{i}}" tabindex="0" href="javascript:;">{{i}}</a>
                    {% endif %}
                {% endfor %}
            </span>
            {% if borrowlistsearch.page == borrowlistsearch.totalcount %}
                <a class="paginate_button next disabled" aria-controls="example" data-dt-idx="{{ borrowlistsearch.page }}" tabindex="0" id="example_next">Next</a>
            {% else %}
                <a class="paginate_button next" aria-controls="example" data-dt-idx="{{ borrowlistsearch.page + 1 }}" tabindex="0" id="example_next">Next</a>
            {% endif %}    
        </div>   
    </div>        
    
    {{ form_end(borrowlist_form) }}

{% endblock %}